/*Initial Styles*/
html, body {
    height: 100%;
}
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px !important;
}
#container{
	position: relative;
	width: 100%;
	font-family: Helvetica,Arial,sans-serif;
}

.header{
	width: 100%;
	top: 0;
	height: 100px;
	background: url("../img/binary-Blue.jpg");
}

.header h1{
	color: #fff;
	text-align: center;
	line-height: 100px;	
	font-size: 3em;
	font-weight: bold;
	background:rgba(0,0,0,0.5);
}
.mainContent{
	width: 100%;
	text-align: center;
	min-height: 200px;
	margin-top: 5%;
}
.startBtn{
	width:25%;
}
#status{
	  color: #ccc;
}
#solve{
	margin-right: 10px;
	display: inline-block;
}
.questionContainer{
	margin: auto;
	text-align: center;
	min-height: 200px;
	margin-top: 30px !important;
	width: 50%;
}
.questionContainer input[type=text]{
	width:100px;
	margin:auto;
	margin-bottom: 10px;
	text-align: center;
}
